body {
    background-color: #ede9de;
    width: 80%;
    margin-left: 10%;
    margin-top: 0;
    font-family: verdana;
}

h1{
	color: #0b488c;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #0b488c;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

html, body{
    height: 80%
}
.wrapper{
    background-color: white;
    margin: 0 auto;
    padding-bottom: 5%;
    vertical-align: top;
    min-height: 100%;
}

.content{
    padding-top: 1%;
    margin: auto;

}

.content h2{
    text-align: center;
}


#pageselect{
    margin-top: 20px;
    text-align: center;
    background-color: #0b488c;
    padding: 10px;
}

#loginform{
	display:table;
	margin: auto;
	text-align: center;
	margin-top: 2%;
}

#newinvestment{
   display:table;
   margin:auto;
}

#newinvestment h4{
    text-align: center;
}

#submitbutton{
    text-align: center;
}

#newinvestment p{
    margin-bottom: 1%;
}