#header{
    background-color: #ede9de;
    margin: 0;
}

#navbar #usergreet p{
    text-align: center;
    display: list-item;
    padding: 10px 15px;
    margin: 0;

}

#navbar #usergreet{
    float: right;
    
}

#navbar #usergreet a{
    float: right;
    display: list-item;
    
}

#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
    border-bottom: 5px solid #ede9de;

}

#navbar li{
    float: left;
}

#navbar li a{
    float: left;
    text-decoration: none;

    text-align: center;
    padding: 10px 15px;
    color:#8e9093;
}

#navbar li a:hover {
    background-color:#0b488c;
    color:#FFFFFF;
}

#navbar li a.active {
    background-color: #0b488c;
    color: white;
}