/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 20, 2018, 9:20:33 PM
    Author     : Av01 Command
*/








.login_screen{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
    margin-bottom: 0%;
    font-family: verdana;
    text-align: left;
    background-color: transparent;
    background-image: url(http://www.bcbtelecom.com/img/slides/bg7.jpg);
    background-repeat: no-repeat;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    
}

.header{
    background-color:#0b488c;
    color:white;
    text-align: center;
    font-size:xx-large ;
}

.uname{
    background-color: #0b488c;
    color: white; 
    margin-left:0;
    padding-left: 20px;
    text-align: right;
}
.pword{
    background-color: #0b488c;
    color: white; 
    margin-left:0;
    padding-left: 20px;
    text-align: right;

 
}

.login_button{
    text-align:right;
    
}

#login{
    padding-left: 8.21900px;
    padding-right: 8.21900px;
    background-color: #0b488c;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#loginstuff{
    width: 300px;
}



