table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    text-align: center;;
    padding: 4px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #0b488c;
    color: white;
    text-align: center;
}

.favorite_button{
    padding-left: 12.30500px;
    padding-right: 12.30500px;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.unfavorite_button{
    background-color: #f44336;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.namebutton{
    background-color: transparent;
    border: none;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.updateinvestment{
    padding-left: 8.21900px;
    padding-right: 8.21900px;
    background-color: #0b488c;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.invest_button{
    padding-left: 8.21900px;
    padding-right: 8.21900px;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.uninvest_button{
    background-color: #f44336;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
